input, textarea{
  background: white;
  
}
.create-product-container {
    width: 900px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .create-product-container h1 {
    margin-bottom: 20px;
  }
  
  .create-product-container form {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .create-product-container input {
    width: 98%;
     margin: auto;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .create-product-container button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .create-product-container button.back-button {
    background-color: #6c757d;
    margin-top: 10px;
  }
  
  .create-product-container button:hover {
    opacity: 0.9;
  }

  .create-product-container input[type="text"],
.create-product-container input[type="number"] {
  margin-bottom: 15px;
}

.create-product-container input {
  width: 100%;
}

.create-product-container img {
  max-width: 100px;
  height: auto;
}
textarea{
  resize: vertical;
  width: 100%;
     margin: auto;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
